/* html, body{overflow-x: hidden;} */

body {
  font-family: "Open Sans", sans-serif;
  color: #484848;
  font-size: 17px;
  margin: 0;
}

button {
  border-radius: 4px;
  border: 1px solid #c4c4c4;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  line-height: 1.43;
  user-select: none;
  white-space: nowrap;
  cursor: pointer;
  background: white;
  color: #484848;
  padding: 7px 18px;
  font-size: 14px;
  margin-bottom: 0;
}

.container {
  margin: 0 auto;
}

@media (min-width: 744px) {
  .container {
    width: 696px;
  }
}